{% extends "base.html" %}
{% block content %}

    <list class="collection">
        <div class="collection-item">location: {{ advertisement.location }}</div>
        <div class="collection-item">space: {{ advertisement.space }}</div>
        <div class="collection-item">description: {{ advertisement.description }}</div>
        <div class="collection-item">includes_balcony: {{ advertisement.includes_balcony }}</div>
        <div class="collection-item">rooms_count: {{ advertisement.rooms_count }}</div>
        <div class="collection-item">price: {{ advertisement.price }}</div>
    </list>

    {% if is_own %}

    <form action="/sell/{{ advertisement.pk }}" method="POST">
        {% csrf_token %}
        <button class="waves-effect waves-light btn">Oznacz jako sprzedane</button>
    </form> 
    {% endif %}

    <div class="row">
        <div class="col s12 m7">
            <div class="card">
            <div class="card-image">
                <img src="{{advertisement.photo}}">
                <span class="card-title"></span>
            </div>
           
            
            </div>
        </div>
    </div>
    
{% endblock %}

{% block nav %}
<li><a  href="/list">Lista</a></li>

{% if is_own %}

    <li><a href="/notifications/{{ advertisement.pk }}">Powiadomienia</a></li>
    <li><a href="/delete/{{ advertisement.pk }}">Usuń</a></li>
    <li><a  href="/edit/{{ advertisement.pk }}">Edytuj</a></li>

{% endif %}

{% if not is_own %}
<li><a href="/notify/{{ advertisement.pk }}">Wyślij wiadomość</a></li>
{% endif %}
{% endblock %}
