{% extends "base.html" %}
{% block content %}


    <ul class="collection">
            {% for advertisement in advertisements %}
            <li class="collection-item dismissable">

                <a href="/item/{{ advertisement.pk }}">
                    <span>{{ advertisement.location }}&nbsp;</span>
                    <span>{{ advertisement.space }}m2&nbsp;</span>
                    <span>{{ advertisement.price }} rooms&nbsp;</span>
                </a>         
                </li>
            {% endfor %} 
    </ul>

{% endblock %}

{% block nav %}
<li><a href="/add">Add</a></li>
<li><a href="/search">Search</a></li>
{% endblock %}