{% extends "base.html" %}
{% block content %}
    <ul class="collection">
        <li class="collection-item dismissable">
            {% for notification in notifications %}
                <a href="/notification/{{ notification.pk }}">
                    <div>
                        <span>content: {{ notification.content }}&nbsp;</span>
                        {% if not notification.visited %}
                            <span class="new badge"></span>   
                        {% endif %}
                    </div>
                </a>
            {% endfor %} 
        </li>        
    </ul>
{% endblock %}

{% block nav %}
    <li><a href="/add">Add </a></li>
{% endblock %}