{% extends "base.html" %}
{% block content %}


    <ul class="collection">
        <li class="collection-item dismissable">
                
            <a href="/notification/{{ notification.pk }}">
                <div>
                    <span>content: {{ notification.content }}&nbsp;</span>
                </div>
            </a>
                
        </li>
         
    </ul>

    <form action="/notification/{{ notification.pk }}" method="POST">
        {% csrf_token %}
        <button class="waves-effect waves-light btn">Usuń</button>
    </form> 


{% endblock %}

{% block nav %}
<li><a href="/add">Add</a></li>
{% endblock %}