{% extends "base.html" %}
{% block title %}
    Notify
{% endblock %}
{% block content %}

    <form method="post">
        {% csrf_token %}

        <label for="content">Content</label>
        <textarea id="content" class="materialize-textarea" name="content"></textarea>
        
        <input type="submit" value="Wyślij" />
    </form>

{% endblock %}