{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static "materialize.css" %}">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="{% static "materialize.js" %}"></script>

        <style>
             body {
                display: flex;
                min-height: 100vh;
                flex-direction: column;
            }

            main {
                flex: 1 0 auto;
            }
        </style>
        <title>IO - nieruchomiści</title>
    </head>
    <body>
        <nav class="top">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo">Nieruchomości</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        {% block nav %}{% endblock nav %}
                
                    </ul>
                </div>
            </div>
        </nav>
        <main style="min-height: 85vh;">
            <div class="container">
                <div class="card">                
                    <div class="card-content">
                        <div class="row">
                            <div class="col s12">
                                {% block content %}{% endblock content %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if messages %}

                <div id="toast-container">
                    {% for message in messages %}
                        <div class="toast" style="top: 0px; opacity: 1;"><span>{{ message }}</span></div> 
                    {% endfor %}
                </div>      
            {% endif %}

        </main>
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    Marek Kopeć
                </div>
            </div>
        </footer>
        <script src="{% static "script.js" %}"></script>

    </body>
</html>