{% extends "base.html" %}
{% block content %}

    <!-- {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %} -->

    <form  action="/accounts/login/" method="POST">
        {% csrf_token %}

        <div class="row">
            <div class="input-field col s12">
                <input id="name" name="name" type="text" class="validate">
                <label for="name">name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="password" name="password" type="password" class="validate">
                <label for="password">password</label>
            </div>
        </div>

        <button type="submit" class="waves-effect waves-light btn-large">sign in</button>
    </form>

    <div class="fixed-action-btn horizontal">
        <a class="btn-floating btn-large red" href="/sign_up">
            <i class="large material-icons">+</i>
        </a>
    </div>

{% endblock %}