{% extends "base.html" %}
{% block content %}
    <form action="/sign_up" method="POST">
        {% csrf_token %}

        <div class="row">
            <div class="input-field col s12">
                <input id="name" name="name" type="text" class="validate">
                <label for="name">nazwa</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="email" name="email" type="email" class="validate">
                <label for="email">email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="password" name="password" type="password" class="validate">
                <label for="password">hasło</label>
            </div>
        </div>

        <button type="submit" class="waves-effect waves-light btn-large">zaloguj sie</button>
    </form>

{% endblock %}